* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  background: rgba(160, 140, 239, 0.703);
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

/* .heading {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

h1 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: transparent;
  font-size: 3rem;
}

.ins {
  width: 40%;
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
}

.result {
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  bottom: 10%;
}

.game {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 9vw);
  grid-template-rows: repeat(3, 8vw);
}

.box {
  border: 1px solid black;
  font-size: 7vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: rgb(146, 124, 166);
}

.turn {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 900;
}

.reset {
  padding: 10px 30px;
  background-color: black;
  color: whitesmoke;
  border-radius: 7px;
  margin-block: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.reset:hover {
  color: black;
  background-color: whitesmoke;
}

.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}
